
<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price USD</th>
      <th scope="col">1hr</th>
      <th scope="col">24hr</th>
      <th scope="col">30d</th>
    </tr>
  </thead>
  <tbody>
  <% begin %>
  <% for index in (1...15)%>
    <tr>
      <td data-label="Name"><%= @response_obj2[index]["name"] %></td>
      <td data-label="Price USD"><%= @response_obj2[index]["price_usd"].round(2) %></td>
      <td data-label="1hr"><%= @response_obj2[index]["volume_1hrs_usd"].round(2) %></td>
      <td data-label="24hr"><%= @response_obj2[index]["volume_1day_usd"].round(2) %></td>
      <td data-label="30d"><%= @response_obj2[index]["volume_1mth_usd"].round(2) %></td>
    </tr>
    <% end %>
  <% rescue %>
  <% end %>
  </tbody>
</table>



<div class="container"> 
<h5>For 1 EUR you need about ... <h5/>
<div/>
<div class="container">

<ul class="list-group">
  <% @response_obj["rates"].each do |rate| %>
    <li class="list-group-item"> <%= rate[1] %> <%= rate[0] %> </li>
  <% end %>
</ul>
<div/>
