<br>
<table>
<caption>Global insights in real time</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price USD</th>
      <th scope="col">1hr</th>
      <th scope="col">24hr</th>
      <th scope="col">30d</th>
      <th scope="col">Graph</th>
    </tr>
  </thead>
  <tbody>
  <% begin %>
  <% for index in (1...100)%>
    <tr>
      <td data-label="Name"><img class="icons" src="<%= @response_obj3[index]["url"] %>"><%= @array[index].name %></td>
      <td data-label="Price USD"><%= @array[index].priceusd%></td>
      <td data-label="1hr"><%= @array[index].hour %></td>
      <td data-label="24hr"><%= @array[index].day %></td>
      <td data-label="30d"><%= @array[index].month %></td>
    </tr>
    <% end %>
  <% rescue %>
  <% end %>
  </tbody>
</table>